.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form-container {
  max-width: 450px;
  margin: 100px auto;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
